body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

@font-face {
    font-family: typewriter;
    src: url(fonts/TypewriterSerial\ Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}

.page-left-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/menuimage.jpg);
    width: 50%;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.page-left-content img {
    width: 20%;
    margin: 10% 40%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p {
    color: white;
    font-size: 37px;
}

.text span {
    color: #B34215;
    font-size: 60px;
    font-family: typewriter;

}

.right_menu_content {
    width: 50%;
    background-color: rgb(5, 5, 5);
    color: white;
    overflow: scroll;
    height: 102%;
    font-family: typewriter;
    overflow-y: auto;
}

.food_ptions {
    position: fixed;
    display: flex;
    margin-top: -9.5%;
    gap: 5%;
    align-items: center;
    height: 7vh;
    background-color: rgb(5, 5, 5);
    width: 46%;
    color: rgb(143, 151, 140);

}

.food_ptions a {
    position: sticky;
    margin-left: 15%;
    text-decoration: none;
    color: rgb(143, 151, 140);
}

.right_menu_text {
    margin-left: 6%;
}

.breakfast-text p {
    color: rgb(143, 151, 140);
}

.breakfast-text h1 {
    color: white;
    margin-top: 20%;
}

.breakfast_category {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #B34215;
}

.breakfast_list {
    display: flex;
    gap: 50%;
}

.breakfast_list ul {
    list-style: none;
    line-height: 35px;
}

.breakfast {
    display: flex;
    margin-top: 7%;
    gap: 5%;
}

#breakfast_price {
    color: white;
    margin-left: 5%;
}

#egg_price {
    color: white;
    margin-left: 5%;
}

#amount {
    margin-left: 23%;
    color: white;
}

#amount_shs {
    color: white;
    margin-left: 5%;
}

.price p {
    color: white;
}

.breakfast img {
    width: 10%;
}

.breakfast p {
    color: rgb(100, 100, 100);
}

.breakfast h2 {
    font-weight: lighter;
}

.food {
    margin-top: 12%;
    font-weight: lighter;
}

.soup {
    margin-top: 6%;
    font-size: 25px;
    color: #B34215;
    margin-bottom: 3%;
}

.soup_description {
    display: flex;
    gap: 50%;
}

#soup_price {
    margin-left: 4%;
}

.salads-heading {
    margin-top: 10%;
    font-size: 25px;
    color: #B34215;
}

.salads {
    display: flex;
    margin-top: 7%;
    gap: 5%;
}

#price {
    color: white;
    margin-left: 5%;
}

.breakfast_price {
    color: white;
}

#shs {
    color: white;
    margin-left: 16%;
}

.salads img {
    width: 10%;
}

.salads p {
    color: rgb(100, 100, 100);
}

.salads h2 {
    font-weight: lighter;
}

.drinks-heading {
    display: flex;
    flex-direction: column;
    gap: 80%;
    margin-top: 7%;
}

.drinks-heading h1 {
    font-weight: lighter;
}

.drinks-heading span {
    font-size: 22px;
    margin-top: 2%;
    color: #B34215;
}

.drinks {
    display: flex;
    gap: 67%;
}

.juice_list ul {
    list-style: none;
    line-height: 35px;
}

.juice_price_list ul {
    list-style: none;
    line-height: 35px;
}

.cocktails-heading {
    margin-top: 5%;
    font-size: 22px;
    color: #B34215;
}

.cocktails {
    display: flex;
    margin-top: 7%;
    gap: 5%;
}

.cocktails img {
    width: 10%;
}

.cocktails p {
    color: rgb(100, 100, 100);
}

#drink_price {
    color: white;
    margin-left: 10%;
}

#drink_amount {
    color: white;
}

#ksh {
    color: white;
    margin-left: 29%;
}
.nav-bar {
    position: fixed;
    margin-top: 41%;
    background-color: rgb(9, 10, 10);
    width: 40%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    border: none;
    border-radius: 70px;
    margin-left: 1%;
}

.nav-bar i {
    font-size: 30px;
    color: rgb(80, 80, 80);
}

.nav-bar a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: poppins;
}

.nav-bar button {
    background-color: rgb(115, 115, 115);
    border: none;
    border-radius: 40px;
    padding: 16px 20px;
    font-size: 15px;
    color: white;

}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: none;
    border-radius: 30px;
    top: -50vh;
}

.dropdown-content a {
    border: solid 1px grey;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: black;
}

.dropdown:hover .dropdown-content {
    background-color: white;
    display: block;
}
.fa-bars:hover{
    background-color: grey;

}

@media only screen and (max-width: 430px) {
    body {
        margin: 0;
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: auto;
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .title h1 {
        font-size: 40px;
        margin-top: 30%;
        margin-left: 30%;
    }

    .nav-bar {
        width: 60%;
        height: 7vh;
        gap: 8%;
        margin-left: 20%;
        margin-top: 188%;

    }

    .nav-bar a {
        font-size: 10px;
    }

    .nav-bar i {
        font-size: 20px;
        margin-left: 2%;
    }

    .logo img {
        width: 60%;
        margin-left: 25%;
        margin-top: 10%;
    }
    #home, #menu, #reviews, #events, #live,#contacts{
        display: none;
      }
    .whatsapp_icon {
        margin-left: -15%;
        margin-top: -20%;
    }

    .nav-bar button {
        padding: 8px 8px;
    }

    .social_icons {
        width: 70px;
        position: absolute;
        top: 5vh;
        left: 95vw;
        margin-left: -15%;
    }

    .container {
        display: flex;
        flex-direction: column;

    }

    .page-left-content {
        width: 100%;
    }

    .right_menu_content {
        width: 100%;
    }
}